body {
  height: 100vh;
  width: 100vw;
  background-color: #231b1b;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
}

.container-dragg {
  background-color: black;
  border: solid 2px #5271ff;
  border-radius: 15px;
  padding: 10px;
  width: 43%;
  height: 63vh;
}
.beggin{
  display: flex;
  padding: 10px 10px;
    gap: 10vw;
}
.logo{
  width: 12.2vw;
  height: 16vh;
}
.title{
  font-size: 22px;
  background-color: white;
  color: black;
  border-color: black;
  border-radius: 15px;
  margin-top: 16px;
  width: 68vw;
  height: 10vh;
  text-align: center;
}
.draggable {
  background-color: #4AAE9B;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
}
 
.dropzone {
  background-color:black;
  border: solid 2px #00ee63;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  height: 63vh;
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh; 
}

.python {
  position: absolute;
  width: 6vw;
  height: 10vh;
  top: 50%;
  left: 100%; 
  transform: translateY(-50%);
  animation: slide 5s linear infinite; 
}
#result{
  font-size: 30px;
  color: red;
  padding-top: 47vh;
}
.m-0 {
  margin: 0;
}
.b-check{
  background-color: #00ee63;
  border-radius: 15px;
  color: black;
  width: 10vw;
  height: 5vh;
  border: solid black 1px;
}
.b-reload{
  background-color: #5271ff;
  border-radius: 15px; 
  color: white;
  width: 10vw;
  height: 5vh;
  border: solid black 1px;
}
.buttons{
  padding-left: 76vw;
}

@keyframes slide {
  0% {
      left: 100%; /* Começa fora da tela à direita */
  }

  50% {
      left: 50%; /* Move até o centro da tela */
  }

  100% {
      left: -100%; /* Move para fora da tela à esquerda */
  }
}
