html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #231b1b;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
}

.container-dragg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  border: solid 2px #5271ff;
  border-radius: 15px;
  padding: 10px;
  width: 43%;
  height: 69vh;
}
.beggin{
  display: flex;
  padding: 10px 10px;
    gap: 10vw;
}
.logo{
  width: 12.2vw;
  height: 16vh;
}
.title{
  font-size: 22px;
  background-color: white;
  color: black;
  border-color: black;
  border-radius: 15px;
  margin-top: 16px;
  width: 68vw;
  height: 10vh;
  text-align: center;
}
.draggable {
  width: 400px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: -4px;

}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:black;
  border: solid 2px #00ee63;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  height: 69vh;
}

.python {
  position: absolute;
  width: 6vw;
  height: 10vh;
  top:0;
  animation: slide 5s linear infinite; 
}
#result{
  font-size: 30px;
  color: red;
  padding-top: 47vh;
}
.b-check{
  background-color: #00ee63;
  border-radius: 15px;
  color: black;
  width: 10vw;
  height: 5vh;
  border: solid black 1px;
}
.b-check:hover{
  background-color: #00ee6348;
}
.b-reload{
  background-color: #5271ff;
  border-radius: 15px; 
  color: white;
  width: 10vw;
  height: 5vh;
  border: solid black 1px;
}
.b-reload:hover{
  background-color: #5272ff52;
}
.buttons{
  padding-left: 76vw;
  margin-top: 0;
}

@keyframes slide {
  0% {
      left: 100%; /* Começa fora da tela à direita */
  }

  50% {
      left: 50%; /* Move até o centro da tela */
  }

  100% {
      left: -100%; /* Move para fora da tela à esquerda */
  }
}
