.container{
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
 
  .items {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
 
  .draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
  }
 
  .dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  .slider {
    position: relative;
    width: 100vw; /* 100% da largura da janela de visualização */
    height: 100vh; /* 100% da altura da janela de visualização */
}

.python {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  left: 100%; /* Começa fora da tela à direita */
  transform: translateY(-50%); /* Ajusta a centralização vertical */
  animation: slide 5s linear infinite; /* Animação com duração de 5 segundos e repetição infinita */
}

@keyframes slide {
  0% {
      left: 100%; /* Começa fora da tela à direita */
  }
  50% {
      left: 50%; /* Move até o centro da tela */
  }
  100% {
      left: -100%; /* Move para fora da tela à esquerda */
  }
}